* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.accordion {
  width: 100%;
}
.accordion li {
  list-style: none;
  width: 100%;
  margin: 10px;
}
.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: rgb(205, 71, 9);
  cursor: pointer;
}
label::before {
  content: "+";

  margin-right: 10px;
}
input[type="radio"] {
  display: none;
}
.accordion .content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}
input[type="radio"]:checked + label::before {
  content: "-";
}
