*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
 
    font-family: 'Nunito', sans-serif;
}
.header h1{
    margin: 20px;
}
.header p{
    margin-bottom: 40px;
}
.content {
    /* border: 1px solid red; */
    height: auto;
    width: 650px;
    margin-left: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-field {
    position: relative;
    font-family: "Noto Sans", sans-serif;
    color: rgb(129, 125, 125);
}

.form-label {
    position: absolute;
    top: 25px;
    left: 20px;
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label, textarea:focus+.form-label{
    top: 18px;
    font-size: 10px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}
.content input,
.content select {
    height: 50px;
    width: 290px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    
}
.content select{
    color: rgb(129, 125, 125);
}
.content button {
    border-radius: 20px;
    color: white;
    background-color: rgb(76, 76, 241);
    border: none;
   padding: 10px 22px;
   
}
.content textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}