@import 'reset';
@import 'variables';
@import 'mixins';

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Sofia Sans', sans-serif;
}
input,button,textarea,select{
    font-family: inherit;
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}
.container{
    @include screen(mobile){
        padding: 0 10px;
        .sidebar{
            @include flexCenter;
            justify-content: space-around;
            .heading{
                display: none;
            }
            .nav{
                p{
                    display: none;
                }
                img{
                    margin: 0 5px;
                }
            }
            .chat-btn{
                display: none;
            }
        }
        .header{
            @include flexCenter;
            .search-form{
                @include flexCenter;
            }
            .nav{
                display: none;
            }
            .actions{
                margin-left: auto;
            }
        }
        .main{
            // @include flexCenter;
            text-align: center;
             img{
               width: 100%;
               object-fit: cover;
            }
        }
    }
    @include screen(tablet){
        padding: 0 10px;
            .sidebar {
                @include flexCenter;
                justify-content: space-around;
        
                .heading {
                    display: none;
                }
        
                .nav {
                    p {
                        display: none;
                    }
        
                    img {
                        margin: 0 5px;
                    }
                }
        
                .chat-btn {
                    display: none;
                }
            }
        
            .header {
                @include flexCenter;
                .search-form {
                    @include flexCenter;
                }
        
                .nav {
                    display: none;
                }
        
                .actions {
                    margin-left: auto;
                }
            }
        
            .main {
                // @include flexCenter;
                text-align: center;
                img {
                    width: 90%;
                    object-fit: cover;
                }
            }
        }
        @include screen(pc){
            .container{
                position: relative;
            }
            .sidebar {
                display: flex;
                flex-direction: column;
                padding: 54px 0 0 59px;
                .heading {
                    padding-top: 60px;
                    font-size: 3.1rem;
                    font-weight: 800;
                }
                .nav {
                    display: flex;
                    flex-direction: column;
                    margin-top: 48px;
                    .nav-item {
                        margin-top: 30px;
                        @include flexCenter;
                        column-gap: 12px;
                        font-size: 1.6rem;
                        font-weight: 600;
                    }
                    .nav-item:hover {
                        transform: scale(1.05);
                    }
                    .icon {
                        width: 22px;
                        height: 22px;
                        object-fit: contain;
        
                    }
                }
        
                .chat-btn {
                    background: transparent;
                    position: sticky;
                    bottom:60px;
                    margin-top: auto;
                    @include flexCenter;
                    column-gap: 18px;
                    font-size: 1.6rem;
                    font-weight: 600;
                    cursor: pointer;
                    .icon {
                        justify-content: center;
                        @include flexCenter;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: gray;
                    }
                }
            }
            .header {
                position: absolute;
                right: 0;
                top: 0;
                height: 128px;
                @include flexCenter;
                .search-form {
                    @include flexCenter;
                    column-gap: 18px;
                    margin-right: auto;
                }
                .nav {
                    display: flex;
                    column-gap: 46px;
                    .nav-link {
                        font-size: 1.8rem;
                    }
                }
                .actions {
                    @include flexCenter;
                    margin-left: 50px;
                    column-gap: 26px;
                }
            }
            .main {
                position: absolute;
                right: -200px;
                top: 150px;
                width: 1200px;
                display: grid;
                grid-template-columns: repeat(4, 1.2fr);
                gap: 22px;
                grid-auto-flow: dense;
                img:hover {
                    transform: rotate(2deg);
                }
                .wide {
                    margin-bottom: 20px;
                }
                .tall img{
                    padding-right: 6px;
                }
            }
        
            .search-form {
                .search {
                    &::placeholder {
                        font-weight: 600;
                        color: black;
                        opacity: 0.2;
                    }
                }
            }
        
            .header .nav-link {
                position: relative;
                padding: 8px 0px;
        
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 3px;
                    background-color: black;
                    transition: width 0.5s ease;
                }
        
                &:hover::after {
                    width: 100%;
                }
        
        }

}
}