*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin-top: 20px;
    width: 100%;
    background-color: #334155;
    display: flex; /* Add display: flex to center its children vertically */
    justify-content: center; /* Center its children horizontally */
    align-items: center; /* Center its children vertically */
    /* height: 100vh; Set a minimum height to make sure it's centered on the screen */
    flex-direction: column; 
}

.container h1 {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    /* Stack its children vertically */
}

.input {
    width: 100%;
    background-color: #334155;
    padding: 10px;
    border: none;
    font-size: 16px;
     outline: none;
     color: white;
}

.input::placeholder {
    content: "Thêm một công việc mới";
    color: #8F9DAC; /* Change placeholder color to make it visible */
}

.add-button {
    padding: 10px 20px;
    border: none;
    background-color: #1cccbd;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0F766E;
}

.add {
    padding: 10px 0px;
    border-bottom: 1px solid #1cccbd;
}
ul{
    /* text-decoration: none;
     */
     list-style: none;
}
ul li{
    background-color: white;
    width: 100vh;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}
.button{
    margin-top: 20px;
}
.editBtn {
    /* display: ; */
    border: none;
    padding: 13px ;
    background-color: #14B8A6;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}
.deleteBtn {
    margin-left: 20px;
     border: none;
    padding: 13px ;
    background-color: red;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}
.update {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.updateBtn{
     border: none;
    padding: 13px ;
    background-color: #14B8A6;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    margin-left: 20px ;
}
#toastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast{
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0 ;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}

@keyframes moveleft {
    100%{
        transform: translateX(0);
    }
    
}
.toast i {
    margin: 0 20px;
    font-size: 35px;
    color: green;

}
.toast.error i{
    color: red;
}
.toast.invalid i {
    color: orange
}
.toast::after{
    content: "";
    position: absolute;
    left: 0;bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}
@keyframes anim {
    100%{
        width: 0;
    }
    
}
.toast.error::after{
    
    background: red;
}
.toast.invalid::after{
    background: orange
}