* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    position: relative;
    height: 100%;
}
.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.player {
    display: flex;
}

.play-btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.progress-bar {
    width: 100%;
    position: relative;
    height: 20px;
    background: gray;
    margin: 0 20px;
    cursor: pointer;
}

.progress-bar:hover {
    background: greenyellow;
}

.progress-bar .progress {
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    bottom: 0;
}

.progress-bar .progress span {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    background: blueviolet;
    translate: 50% -50%;
}

.progress-bar .time-preview {
    position: absolute;
    top: 0;
    translate: -50% -110%;
    background: black;
    color: #fff;
    font-size: 0.8rem;
    padding: 2px 5px;
    display: none;
}

.progress-bar .time-preview.show {
    display: block;
}


.btnkaraoke {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}
.karaoke .karaoke-inner{
    position: fixed;
    inset: 0;
    top: 100%;
    z-index: 100;
    background-color: blueviolet;
    color: white;
    transition: top 0.4s ease;
    padding: 15px;
}

.karaoke .karaoke-inner.show{
    top: 0;
}
.karaoke .karaoke-container{
    max-width: 90%;
    margin: 0 auto;
}
.karaoke .karaoke-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.karaoke .karaoke-content{
    font-size: 3vw;
    font-weight: bold;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* line-height: 1.5; */
}
.karaoke .close {
    cursor: pointer;
}

.karaoke .karaoke-container .word{
    position: relative;
    margin: 0 5px;
    /* margin-top: 40px; */
}
.karaoke .karaoke-container .word span{
    position: absolute;
    top: 0;left: 0;
    bottom: 0;
    width: 0;
    /* right: 0; */
    overflow: hidden;
    display: inline-block;
    color: blue;
}