body {
  font-family: "Open Sans", sans-serif;
}
.nav li {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 15px;
  margin-left: -5px;
  position: relative;
}
.nav .subnav {
  display: none;
  position: absolute;
}
.nav li a {
  color: black;
  text-decoration: none;

  display: inline-block;
}
.nav li:hover {
  background-color: aqua;
  color: white;
}
.para {
  display: inline-block;
  height: 14px;
  width: 400px;
}
