*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    /* margin: auto; */
    /* display: flex; */

/* } */ 

.modal-box .overlay {
    background: #0000009c;
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    transition-property: opacity, visibility;
}


.modal-box .form {
    max-width: 450px;
    height: 190px;
    margin: 30px auto;
    background: #fff;
    padding: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    z-index: 1;
    transition: top 0.3s linear;
}
.modal-box .save{
    border: none;
    padding: 15px 18px;
    color: white;
    background-color: #047857;
    border-radius: 10px;
    
}
.modal-box .cancel {
    border: none;
    padding: 15px 18px;
    color: #261827;
    background-color: #F3F4F6;
    border-radius: 10px;
    font-size: 1rem;
}
.modal-box .btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
font-size: 1rem;
}
.modal-box input{
    border: none;
    border:1px solid #D1D5DB;
    display: inline;
        width: 100%;
        height: 55px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 30px;
    font-size: 1rem;
}
.modal-box.show .form {
    top: 30px;
}

.modal-box.show .overlay {
    opacity: 1;
    visibility: visible;
}
.header{
    display: flex;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
        /* height: 100vh; */
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container input{
    display: inline;
    width: 40%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    /* border: none; */
    border: none;
        border: 1px solid #D1D5DB;
        font-size: 1rem;
}
.container i{
    padding: 13px;
    background-color: #1E40AF;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.container button{
    padding: 13px;
    background-color: #047857;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.todo {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D1D5DB;
    width: 45%;
    margin: 0 auto;
    /* height: 100px; */
    padding: 5px 20px;
    margin-top: 30px;
    border-radius: 10px;
    /* Center horizontally */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}
.todo i{
    padding: 13px;
    /* background-color: ; */
    cursor: pointer;
    color: white;
    border-radius: 10px;
}
.todo i.fa-trash-can{
    background-color:#9F1239 ;
}
.todo i.fa-pen-to-square{
    background-color: #1E40AF;
}
.todo i.fa-square-check {
    background-color: gray;
    
}

.complete{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: none;
    background-color: #949caa;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
