*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 40px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
button{
    font-size: 20px;
    padding: 10px 50px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.words{
    text-align: center;
    /* color: red; */
    font-size: 20px;
    margin-top: 20px;
}
button:hover{
    background-color: green;
}