*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 20px 100px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.textarea {
    border: 1px solid black;
    height: 50vh;
    margin: 20px 0px;
    padding: 20px;
}

.count {
    display: flex;
    justify-content: flex-end;
}

.container .save select {
   /* margin: 20px; */
   height: 40px;
   width: 60px;
   text-align: center;
   border: none;
   background-color:#0D6EFD ;
   color: white;
   border-radius: 10px;
   font-size: 16px;
}
.container .save input {
    padding: 5px;
    margin-left: 10px;
    height: 40px;
    width: 190px;
    font-size: 16px;
        /* border-radius: 10px; */
}

.container .font-style button{
    padding: 15px 20px;
    background-color: #101111;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
}
.container .font-style button:hover{
    background-color: #313a3a; ;
}
.dropdown {
    position: relative;
    display: inline-block;   
}
.dropdown .dropbtn{
    height: 40px;
    width: 60px;
    background-color: #0D6EFD;
    border: none;
    border-radius: 4px ;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content button {
    width: 100%;
    padding: 12px 16px;
    text-align: left;
    border: none;
    background: none;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}